* {
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* header and navigation style */

header {
  background: #FFF8F3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}

.btn-primary {
  height: 54px;
  padding: 10px 36px;
  font-weight: 700;
  font-size: 20px;
  background: #FD6E0A;
  border: 0;
  color: #FFFFFF;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 200px;

}

nav ul {
  display: flex;
  align-items: center;

}

nav li {
  list-style: none;
  margin-left: 25px;
}

.nav-titel {
  font-weight: 800;
  font-size: 45px;

}

.text-primary {
  color: #FD6E0A;
}

/* header-banner */
.banner-header {
  display: flex;
  align-items: center;

}

.banner-text {
  font-weight: 700;
  margin: 0 200px;
  font-size: 20px;
}

.name {
  padding: 10px 0 10px 0;
  width: 498px;
}

.about-descripstion {
  font-weight: 400;
  font-size: 12px;
}

/* banner button */
.contact-button {
  height: 54px;
  padding: 10px 36px;
  font-weight: 700;
  font-size: 20px;
  border: 1 solid black;
  margin-left: 40px;

}

/* about-me */
.about-me {
  text-align: center;
  margin: 100px 230px;
  background: #FFF8F3;
  padding: 100px 80px;
  margin-top: 270px;
}

.about-me-details {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
  margin: 80px 0 100px 0;
}

.about-me-text {
  padding-bottom: 20px;
}

/* what i do style */
.skill-containers {
  display: flex;
  gap: 24px;
  text-align: left;

}

.what-i-do {
  text-align: center;
  padding: 0px 80px;
  margin-top: 270px;
  margin-bottom: 200px;
}

.what-i-do-titel {
  margin-bottom: 30px;
  font-size: 35px;

}

.what-i-do-details {
  font-size: 18px;
  color: #757575;
  margin: 60px 345px;
}

/* skill style */
.skill {
  background: #FFFFFF;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}

.skill-titel {
  margin-top: 30px;
  margin-bottom: 20px;
}

.skill-description {
  font-size: 16px;
  color: #757575;

}

/* resume style */
.resume {
  margin: 130px 230px;
  
}

.resume-titel {
  text-align: center;
  font-size: 35px;
  color: #181818;
  margin-bottom: 180px;
}

.resume-details {
  display: flex;
  gap: 24px;
}
.education{
  color: #474747;
  font-size: 30px;
  margin-bottom: 100px;
  
}
.degree-name {
  font-size: 25px;
  color: #474747;
  margin: 20px 0;
}

.university-name {
  font-size: 20px;
  color: #757575;
  margin-bottom: 15px;
}
.education-details {
  font-size: 16px;
  color: #757575;
  margin-bottom: 20px;
}
.resume-button{
  margin-top: 50px;
  text-align: center;
  
}
/* contact style */
.Contact{
  display: flex;
  background: #FFF8F3;
  padding: 130px 200px;
  gap: 50px;
  text-align: left;
}
.Contact input[type="text"], input[type="email"], textarea{
  width: 100%;
  padding: 5px 30px;
  margin-bottom: 24px;
  border: 0;
}

input{
  height: 64px;
  background: #FFFFFF;
}
.Contact h3{
  margin-bottom: 20px;
  color: #181818;
  font-size: 35px;
  text-align: left;
}
.contact-details{
  color: #474747;
  font-size: 16px;
  margin-bottom: 35px;
}
.social-icon{
  display: flex;
  gap: 25px;
}